html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body {
  background-image: url("https://i.ibb.co/rcS1cDh/pagecover.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

#game {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

#button {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: linear-gradient(to bottom, #f24235 5%, #eb3326 100%);
  background-color: #f24235;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
button:hover {
  background: linear-gradient(to bottom, #eb3326 5%, #f24235 100%);
  background-color: #eb3326;
}
button:active {
  position: relative;
  top: 1px;
}
