body {
  height: 97vh;
  width: 97vw;
  background-image: url("/docs/assets/imgs/pagecover.gif");
  background-size: cover;
}

header {
  height: 15%;
}

#game {
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
}

#button {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

button {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #f24235 5%, #eb3326 100%);
  background-color: #f24235;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
button:hover {
  background: linear-gradient(to bottom, #eb3326 5%, #f24235 100%);
  background-color: #eb3326;
}
button:active {
  position: relative;
  top: 1px;
}
